.create-contact-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

	.error-message {
		color: var(--font-color-error);
	}

	.country-label {
		width: 44px;
		height: 21px;
		text-align: left;
		color: var(--color-secondary);
	}

	.country-select {
		width: 350px;
		height: 40px;
		background: #f2e6ff;
		border: var(--border-input-normal);
		border-radius: 5px;
		text-align: left;
		margin-top: 5px;
		padding: 10px;
		box-shadow: var(--shadow-input);
	}

	.info-message {
		margin-top: 5px;
		color: var(--color-secondary);
	}